// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    font-family: Arial, sans-serif;
}
.form-multiselect {
    background-color: #edf2f7;
  }
  
  .form-multiselect:focus {
    border-color: #667eea;
    background-color: #fff;
  }
  
  .form-multiselect option {
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
  }
  
  .form-multiselect option:checked {
    background-color: #667eea;
    color: #ffffff;
  }
 